@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  box-sizing: inherit;
}

body.no-scroll {
  overflow: hidden;
}

.form-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  backdrop-filter: blur(10px);
}

.form-modal-display {
  display: block;
}

.add-book-form {
  background-color: #fff;
  border-radius: 10px;
  max-width: 400px;
  margin: 150px auto;
  padding: 30px;
  font-size: 1rem;
  position: relative;
  z-index: 5;
}

.add-book-form fieldset {
  border: none;
  padding: 5px 0;
  position: relative;
}

fieldset input[type="radio"]:first-of-type + label {
  margin-right: 10px;
}

.add-book-form fieldset legend {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.form-title {
  margin-bottom: 10px;
}

.form-row {
  display: grid;
}

.form-row:not(:last-child) {
  margin-bottom: 10px;
}

.form-row > label,
.form-read {
  margin-bottom: 5px;
  font-weight: 500;
}

.form-row input[type="text"],
.form-row input[type="number"] {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
}

.form-row input[type="text"]:focus,
.form-row input[type="number"]:focus {
  outline: none;
  border: 1px solid #a2a2a2;
  box-shadow: 2px 2px 8px #eaeaea;
}

.form-row:last-child {
  padding-top: 10px;
}

main,
.header-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
}

header {
  position: relative;
  box-shadow: 2px 2px 8px #d7d7d7;
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ddd;
  box-shadow: 2px 2px 8px #d7d7d7;
  z-index: 2;
  padding: 0 25px;
}

.header-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0;
  position: relative;
}

h1 {
  font-weight: 600;
}

.add-book {
  justify-self: end;
}

.add-btn {
  border: none;
  background-color: blueviolet;
  color: #eee;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.1s ease-in-out;
}

.add-btn:hover {
  cursor: pointer;
  background-color: rgb(118, 38, 193);
  box-shadow: 2px 2px 8px #d7d7d7;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 1fr;
  gap: 30px;
  margin-top: 30px;
}

.book {
  position: relative;
  box-shadow: 2px 2px 8px #d7d7d7;
  border-radius: 10px;
  padding: 30px;
  font-size: 1rem;
  border: 1px solid #eeeeee;
}

.book p {
  padding-bottom: 12px;
}

.delete-btn {
  background-color: crimson;
}

.delete-btn:hover {
  background-color: rgb(201, 21, 57);
}
